.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #000;
}

html{
  scroll-behavior: smooth;
}

.burger-icon{
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.text-shadow{
  text-shadow: 2px 2px 1px black;
}

.text-shadow-white{
  text-shadow: 2px 2px 1px white;
}

.custom_drop{
  display: none;  
  margin-top: -300px;
  transition: all 0.5s ease-in-out;
} 

.custom_bg{
  background-color: #000;
  z-index: 10;
  height: 70vh;
}

.custom_responsive{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 1rem; */
  row-gap: 3rem;
  column-gap: -80px;
}

.hover_effect{
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  /* border: 1px solid #666; */
}

.hover_effect:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 4px #222;
  border: none;
}

.custom_width{
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.custom_width:hover{
  transform: scale(1.05);
  box-shadow: 4px 4px 1px rgb(129 140 248);
}

@media(max-width: 1058px){

  .custom_width{
    width: 460px;
  }

}


@media(max-width: 1028px){

  .custom_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

}


@media(max-width: 1040px){
  
  .custom_responsive{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 1rem; */
    row-gap: 3rem;
    column-gap: -80px;
  }


}

@media(max-width: 970px){

  .img_1{
    display: none;
  }

  .custom_bg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
  }

  .custom_responsive{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 1rem; */
  }

  .custom_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
  }


}


@media(max-width: 540px){

  .custom-margin{
    margin-left: 1rem;
  } 

  .custom_toggle{
    display: none;
  } 

  .burger-icon{
    display: flex;
  }

  .custom_drop{
    display: flex;
    margin-top: 49px;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
  }

  .img_1{
    display: none;
  }

  .custom_bg{
    padding-left: 4rem;
  }
  

}

@media(max-width: 780px){

    .custom_align{
      width: 450px;
      margin-left: -2rem;
      font-weight: lighter;
    }

    .custom_align_2{
      margin-left: -2rem;
    }

    .img_1{
      display: none;
    }

    .custom_bg{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 7rem;
    }

    .custom_responsive{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

}

@media(max-width: 750px){

  .custom_responsive{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: -5rem;
    place-items: center;
  }

  .text-shadow-white{
    padding-bottom: 3rem;
  }

}

@media(max-width:498px){

  .custom_align{
    width: 420px;
    margin-left: -2rem;
    font-size: 16px;
    font-weight: lighter;
  }

  .custom_align_2{
    margin-left: -2rem;
  }

  .img_1{
    display: none;
  }

  .custom_width{
    width: 400px;
  }


}

@media(max-width: 515px){

  .custom_responsive{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .custom_width{
    width: 400px;
  }

}

@media(max-width:458px){

  .custom_align{
    width: 360px;
    margin-left: -2rem;
    font-size: 16px;
    font-weight: lighter;
  }

  .custom_align_2{
    margin-left: -2rem;
  }

  .img_1{
    display: none;
  }

  .custom_bg{
    padding-left: 8rem;
  }  

  .custom_width{
    width: 350px;
  }

}

@media (max-width: 398px){

  .custom_align{
    width: 300px;
  }

  .text-shadow{
    font-size: 35px;
  }

  .custom_width{
    width: 320px;
  }

  .custom_responsive{
    display: grid;
    place-items: center;
    justify-content: center;
    padding-left: 1rem;
  }

}


@media (max-width: 370px){

  .custom_width{
    display: grid;
    place-items: center;
    place-content: center;
    width: 280px;
  }

}